@import "scss/setup/setup.scss";
@import "scss/utilities/_typography.scss";

.promo {
    --ownOffset: 0;
    position: relative;
    z-index: $z-mid;
    @include breakpoint($lg) {
        margin-top: 60vh;
        margin-bottom: 60vh;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 100px;
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $background-color;
            opacity: 0.25;
            transition: opacity 200ms ease;
            z-index: ($z-mid + 1);

            .promo a:hover & {
                opacity: 0.5;
            }
        }
    }

    .rellax {
        @include breakpoint((max-width $breakpoint-md-width-max)) {
            transform: none !important;
        }
    }
}


.promo__content {
    position: relative;
    z-index: $z-high;
    display: none;

    @include breakpoint($lg) {
        position: absolute;
        top: 100px;
        right: 0;
        display: flex;
        flex-direction: column;
        padding-left: gutter()*5;
        height: 560px;

        justify-content: space-between;

        @include span(5);
        margin-right: gutter(1) + gutter(4);
        .safari & {
            top: 100px;
            height: 580px;
        }
        header {
            color: rgba(255,255,255, calc(0.001 * var(--scroll)));
            transform: translateY(calc((var(--ownOffset) - var(--scroll)) / 4));
        }
    }
}

.promo__pretitle {
    margin: 0;
    text-transform: uppercase;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
}

.promo__title {
    @extend .h2;
    letter-spacing: -2px;

    @include breakpoint($lg) {
        margin-bottom: 0;
        line-height: 1.2;
    }
}

.promo__media {
    position: relative;
    margin-bottom: $gutter;

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    @include breakpoint($lg) {
        overflow: hidden;
        margin-bottom: 50px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.2);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0, 0, 0);
        background: $background-color;
    }

    img {
        display: block;
        margin: 0;
    }
}

.promo__media__img {
    background-size: cover;
    @media (max-width: $breakpoint-md-width-max) {
        transform: none !important;
    }
    @include breakpoint($lg) {
        position: absolute;
        width: $max-width;
        height: auto;
        max-width: none;
        top: 50%;
        transform: translateY(-50%);
        padding: 0;

        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
}

.promo__media-a {
    z-index: $z-mid;
    display: none;

    @include breakpoint($lg) {
        display: block;
        margin-top: 250px;
        height: 450px;
        box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
        // box-shadow: 0 0 15px 5px rgba(0,255,0,1); //debug

        @include span(4);

    }
}

.promo__media-b {
    z-index: $z-base;

    @include breakpoint($lg) {
        margin-bottom: 0;
        height: 550px;
        // box-shadow: 0 0 15px 5px rgba(255,0,0,1); //debug

        @include span(6);
        @include pull(1);

        .promo__media__img {
            @include pull(5);
        }
    }
}
